config/local.js

################################################
# Dependencies
################################################

node_modules
assets/lib/

################################################
# Sails.js / Waterline / Grunt
################################################
.tmp
dump.rdb

################################################
# Node.js / NPM
################################################
lib-cov
*.seed
*.log*.out
*.pid
npm-debug.log

################################################
# Miscellaneous
################################################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history

################################################
# Build
################################################
/assets/js/dist