<!DOCTYPE html>
<html>
  <head>
    <title>SocialDocs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/js/main.css">
  </head>
  <body>
    <div id="container"></div>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dist/bundle.js"></script>
  </body>
</html>
